html {
    position: relative;
    min-height: 100%;
}
body{
    margin-bottom: 100px; /* for sticky footer */
    background-image: url("../images/bg_concrete-seamless.png");
}
html, body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

#header-wrapper {
    width: 100%;
    background-color: #fff;
    border-bottom: 2px solid #ccc;
}
#wrapper {
    width: 100%;
    padding-bottom: 100px;/* for sticky footer */
}
a, a:visited, a:hover, a:active {
    color: #777777;
    text-decoration: none;
}
section {
    background: #fff;
    /*margin: auto;*/
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 30px;
    padding-top: 0px;
    line-height: 1.8;
    border: 1px solid #ddd;
}

aside {
    background: #fff;
    margin: auto;
    margin-top: 20px;
    padding: 20px 0px 30px 10px;
    /*padding: 20px 20px 20px 28px;*/
    border: 1px solid #ddd;
    text-align: left;
    display: block;
}

h1, h2, h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h2, h3 {
    font-weight: bold;
    color: #4aaaa6;
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: left;
}
h1{
    font-size: 32px;
    background: #4aaaa6;
    color: #fff;
    display: inline-block;
    padding: 20px;
    margin: 0px;
    height: 80px;
}

h2 {
    font-size: 30px;
    padding-top: 20px;
}
h3 {
    font-size: 23px;
}
nav {
    height: 80px;
    font-size: 18px;
    line-height: 1;
    padding:0px;
    padding-top: 20px;
    padding-left: 20px;
    /*display: block;*/
    text-align: center;
}
.nav1 {
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
}
.nav-item {
    padding: 0px;
}
#nav-mid-item {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
#profile_photo {
    width: 250px;
    margin: 0px 20px 20px 0px;
}
.social-icon {
    width: 68px;
    height: 63px;
    padding-right: 5px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 60px;
    background-color: #666666;
    color: #b1bab6;
    border-top: 10px solid #4aaaa5;
    text-align: center;
    line-height: 90px;
}

/*--------------------^^^-----------------------*/

/*// Large devices (desktops, less than 1200px)*/
/*@media screen and (min-width: 990px) and (max-width: 1199px) {
}*/

/*// Medium devices (tablets, less than 992px)*/
@media screen and (min-width: 768px) and (max-width: 991px) {
     #profile_photo {
        width: 50%;
    }    
}

/*// Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) and (max-width: 767px) {
    h1{
        width: 100%;
        text-align: center;
    }
    #profile_photo {
        width: 50%;
    }
}

/*// Extra small devices (portrait phones, less than 576px)*/
@media screen and (max-width: 575px){ 
    h1{
        width: 100%;
        text-align: center;
    }
    #profile_photo {
        width: 100%;
    }
}




